header {
	background-color: #131921;
	color: #fff;
}
.nav_logo {
	background: url('https://ik.imagekit.io/amazon34/sprite_350x.png?updatedAt=1686400195876') no-repeat -9px -50px;
	width: 98px;
	height: 31px;
}
.nav_cart {
	background: url('https://ik.imagekit.io/amazon34/sprite_350x.png?updatedAt=1686400195876') no-repeat -217px -336px;
	width: 43px;
	height: 30px;
}
.item-number {
	color: #F08804;
}