.profile {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.profile .mainhead {
    padding: 10px 20px;
    color: var(--col1);
    font-size: 30px;
    font-weight: 400;
    margin: 10px;
}
.profile .form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
}